<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- Bitso API key and secret -->
    <add key="BitsoApikey" value="INSERT_API_KEY_HERE" />
    <add key="BitsoSecret" value="INSERT_API_SECRET_HERE" />
    
    <!-- Your base currency as configured in your CointTracking account -->
    <add key="CointrackingAccountCurrency" value="usd" />
  </appSettings>
</configuration>